@page "/"

<PageTitle>Index</PageTitle>

<style>
    .welcome-container {
        text-align: center;
        padding: 20px;
        background-color: #FCE4EC; /* Cambio de morado a rosado */
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .welcome-heading {
        font-size: 28px;
        color: #333;
        margin-bottom: 10px;
    }

    .welcome-text {
        font-size: 18px;
        color: #555;
        margin-bottom: 20px;
    }

    .image-container {
        text-align: center;
    }

    .image {
        max-width: 400px;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
    }
</style>



<div class="welcome-container">
    <h2 class="welcome-heading">Elegir el mejor equipo fotográfico y aprender cómo hacer buenas fotos es algo impresionante!</h2>
    <p class="welcome-text">Aquí encontrarás lo mejor para tu equipo de fotografía, todos sus complementos para fotografiar.</p>
    <p class="welcome-text">Eres un amante de la imagen, en tu cabeza tienes un montón de ideas y proyectos que te gustaría plasmar.</p>
    <p class="welcome-text">Además, tu pincel es un aparato con lente llamado cámara fotográfica, y estás en el sitio adecuado.</p>
</div>




<div class="image-container">
    <img class="image" src="https://destacatucasa.com/wp-content/uploads/2018/01/Equipo-fotografico.jpg" alt="Equipos de fotografía">
    <img class="image" src="https://cromatiso.com/wp-content/uploads/2017/05/equipos-de-iluminacion-1024x680.jpg" alt="Equipos de fotografía">
    <img class="image" src="https://sergodefphoto.com/wp-content/uploads/photography-gear-equipment-camera.jpg" alt="Equipos de fotografía">
</div>


<div style="text-align: center; margin-top: 20px;">
    <a href="/login" class="btn btn-primary" style="display: inline-block;">
        <span class="oi oi-arrow-right"></span> Continuar
    </a>
</div>
