@page "/AcercaDe"


<div class="container">
    <h3>Acerca de</h3>
    <p>
        Bienvenido a nuestro sistema de venta de equipos fotográficos. Somos Estela y Hidenny, los creadores de esta aplicación.
    </p>
    <p>
        En el año 2023, desarrollamos este sistema con el objetivo de brindar una solución eficiente para la gestión de ventas de productos fotográficos.
    </p>
    <p>
        Nuestra pasión por la fotografía y nuestra experiencia en el desarrollo de software nos impulsaron a crear esta aplicación, que permite registrar usuarios, clientes, empleados, proveedores, productos y realizar seguimiento de las ventas de manera sencilla.
    </p>
    <p>
        A continuación, te presentamos nuestras fotos:
    </p>
    @*<div class="row">
        <div class="col-md-6">
            <img src="ruta/estela.jpg" alt="Estela" class="img-fluid">
		</div>
		<p>Estela - Creadora</p>
        </div>
        <div class="col-md-6">
            <img src="C:\Users\HIDENNY\Desktop" alt="Hidenny" class="img-fluid">
            <p>Hidenny - Creadora</p>
        </div>*@
    </div>
@code {

}

